<div class="row align-items-center pb-3">
  <div class="col-8 col-sm-12">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'inputText'">
        <div class="form-group">
          <label #label appDoubleClick [setPlaceholder]="true" (outclick)="editElement()" for="{{data.name}}">{{data.label}}</label>
          <input type="text" class="form-control" id="{{data.name}}" name="{{data.name}}" placeholder="{{data.label}}"
            readonly>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'textarea'">
        <div class="form-group">
          <label #label appDoubleClick [setPlaceholder]="true" (outclick)="editElement()" for="{{data.name}}">{{data.label}}</label>
          <textarea class="form-control" id="{{data.name}}" name="{{data.name}}" rows="3" readonly></textarea>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'inputFile'">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="{{data.name}}" name="{{data.name}}" disabled>
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <p class="py-1">
          <small #label appDoubleClick (outclick)="editElement()">{{data.label}}</small>
        </p>
      </ng-container>
      <ng-container *ngSwitchCase="'inputCheckbox'">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Yes" id="{{data.name}}" name="{{data.name}}" disabled>
          <label #label appDoubleClick (outclick)="editElement()" for="{{data.name}}">{{data.label}}</label>
        </div>
      </ng-container>
      <app-radio-input *ngSwitchCase="'inputRadio'" [data]="data"></app-radio-input>
      <app-select *ngSwitchCase="'select'" [data]="data"></app-select>
      <ng-container></ng-container>
    </ng-container>
  </div>
  <div class="col-4 col-sm-12">
    <app-edit-panel [formElement]="data"></app-edit-panel>
  </div>
</div>
<div class="row py-3 d-block d-sm-none">
  <div class="col-12">
    <hr>
  </div>
</div>
