<div class="form">

  <div class="row">
    <div class="col-12">
      <h1 class="display-2 px-2">Конструктор формы</h1>
    </div>
    <div class="col-12 py-3">
      <div class="btn btn-group">
        <button (click)="onAddFormElement('inputField')" class="btn btn-outline-secondary">Текстовое поле</button>
        <button (click)="onAddFormElement('textarea')" class="btn btn-outline-secondary">Текстовая область</button>
        <button (click)="onAddFormElement('checkbox')" class="btn btn-outline-secondary">Чекбокс</button>
        <button (click)="onAddFormElement('radioButton')" class="btn btn-outline-secondary">Радио кнопка</button>
        <button (click)="onAddFormElement('select')" class="btn btn-outline-secondary">Список</button>
        <button (click)="onAddFormElement('inputFile')" class="btn btn-outline-secondary">Файл</button>
      </div>
    </div>
    <div class="col-12 pb-3">
      <ng-template appHost></ng-template>
    </div>
  </div>
</div>
