<div class="form-constructor">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        <div class="btn-group" role="group">
          <button (click)="onCreateForm()" class="btn btn-success">Создать форму</button>
          <button (click)="onDeleteForm()" class="btn btn-danger">Удалить форму</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-template appHost></ng-template>
      </div>
    </div>
  </div>
</div>
